* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f2f3f7;

}

.side-menu {
    width:0%;
    height:0vh;
    background-color:#00BFA6;
    position:fixed;
    right:0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    z-index:10000;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}

.side-menu .side-menu-list .close-btn {
    color : #fff;
    font-weight:500;
    font-size:2rem;
    position:absolute;
    top:1%;
    right:5%;
}

.side-menu .side-menu-list li {
    list-style: none;
    margin-bottom: 100px;
}

.side-menu .side-menu-list li a {
    text-decoration: none;
    color:#fff;
}

header {
    width:100%;
    height:10vh;
    display:flex;
    align-items: center;
}

header .logo {
    border: 2px solid #D85D86;
    background-color: #D85D86;
    padding: 5px 5px;
    border-radius: 5px;
    margin-left: 80px;
    box-shadow: -3px -3px 5px rgba(192,192,192,0.4),
                 3px 3px 5px rgba(207,207,196);
}

header .logo a {
    text-decoration:none;
    color:#fff;
}

header .logo a:hover {
    opacity: 0.5;
}

header .menu-list {
    display:flex;
    margin-left:auto;
    margin-right: 80px;
}

header .menu-list li {
    list-style:none;
    margin-left:25px;
}

header .menu-list li a {
    text-decoration:none;
    color:#11113B;
    font-weight:500;
    transition: all 0.05s ease;
    padding: 5px 0px;
}

header .menu-list li a:hover {
    border-bottom: 2px solid #11113B;
}

header .menu-btn {
    margin-left:auto;
    margin-right: 20px;
}

header .menu-btn div {
    margin-bottom:4px;
    width: 20px;
    height: 2px;
    background-color: #11113B;
}

header .menu-btn div:nth-child(2) {
    width: 15px;
}

header .menu-btn div:nth-child(3) {
    width: 12px;
}


/* for screens larger than 1030px */

@media screen and (min-width:1030px) {
    header .menu-btn {
        display:none;
    }

    main {
        margin: 70px auto;
        height:auto;
        width:80%;
        display:grid;
        grid-template-columns: repeat(8, 1fr);

    }
    
    main .box1 {
        grid-column: 2/7;
    }

    main .box1 .h3-1, .box1 .h3-2 {
        color:#11113B;
        font-size:3rem;
    }

    main .box1 p {
        margin-top:30px;
        color:#11113B;
        line-height:30px;
    }
    
    main .box1 h4 {
        margin-top:70px;
    }

    main .box1 h4 a {
        font-size:1.5rem;
        text-decoration: none;
        border:2px solid #f0ffff;
        padding: 15px 60px;
        color: #11113B;
        box-shadow: -2px -2px 8px rgba(255,255,255,1),
                    -2px -2px 12px rgba(255,255,255,0.5),
                    inset 2px 2px 4px rgba(255,255,255,0.1),
                     2px 2px 8px rgba(0,0,0,0.15);
    }

    main .box1 h4 a:hover {
        box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
                    inset -2px -2px 12px rgba(255,255,255,0.5),
                    inset 2px 2px 4px rgba(255,255,255,0.1),
                    inset 2px 2px 8px rgba(0,0,0,0.15);
    
    }

    main .box2{
        height: 400px;
        width: 400px;
        grid-column: 7/8;
        margin-left:80px;
        
    }

    main .box2 .pic {
        background-image: url("images/undraw_mindfulness_scgo-removebg-preview.png");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        width:100%;
        height:100%;
    }

    main .box1 .pic2 {
        display:none;
    }
   
    #about {
        margin: 120px auto;
        height:400px;
        width:80%;
        display:grid;
        grid-template-columns: repeat(10, 1fr);
        background-color: #11113B;
    }

    #about .box3 {
        grid-column:2/7;
    }

    #about .box3 h1 {
        font-size:3rem;
        color:#ffff;
        margin-top:50px;
    }

    #about .box3 p {
        margin-top:30px;
        color:#ffff;
        line-height: 30px;
    }

    #about .box4 {
        width:400px;
        height:400px;
        grid-column:7/9;
    }

    #about .box4 .pic-about {
        background-image: url("images/undraw_meditating_0nae-removebg-preview.png");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        width:100%;
        height:100%;
    }

    #about .pic-about2-box {
        display:none;
    }

    #contact {
        margin: 120px auto;
        height:400px;
        width:80%;
        display:grid;
        background-color: #f2f3f7;
        grid-template-columns: repeat(10, 1fr);
        box-shadow: -3px -3px 5px rgba(192,192,192,0.4),
                 3px 3px 5px rgba(207,207,196);
    }

    #contact .box5 {
        grid-column:2/7;
        margin-top:20px;
    }

    #contact .box5 .heading {
        margin-bottom:30px;
        font-size:3rem;
    }

    #contact .box5  h2 {
        color:#11113B;
        font-size:2rem;
        
    }

    #contact .box6 {
        grid-column:7/9;
        width:300px;
        height:300px;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
    }

    #contact .box6 .input-box {
        margin-top: 40px;
        width:200px;
        height:200px;
        background-color: #11113B;
        display:flex;
        flex-direction:column;
        justify-content: center;
        border-radius:50%;
    }

    #contact .box6 .input-box2 {
        width:200px;
        height:80px;
        background-color:#f2f3f7;
        margin-left:70px;
        display:flex;
        flex-direction:column;
        justify-content: center;
        box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
                    inset -2px -2px 12px rgba(255,255,255,0.5),
                    inset 2px 2px 4px rgba(255,255,255,0.1),
                    inset 2px 2px 8px rgba(0,0,0,0.15);
    }

    #contact .box6 .input-box .input-box2 input[type = "text"] {
        border:0;
        background:none;
        outline: none;
        margin-left:10px;
    }

    #contact .box6 button {
        margin-top: 50px;
        border:0;
        background:none;
        outline: none;
        padding: 15px 80px;
        box-shadow: -2px -2px 8px rgba(255,255,255,1),
                    -2px -2px 12px rgba(255,255,255,0.5),
                     inset 2px 2px 4px rgba(255,255,255,0.1),
                     2px 2px 8px rgba(0,0,0,0.15);
        font-size: 1.5rem;
        color:#11113B;
        font-weight:700;
        cursor: pointer;
    }

    #contact .box6 button:hover {
        box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
                    inset -2px -2px 12px rgba(255,255,255,0.5),
                    inset 2px 2px 4px rgba(255,255,255,0.1),
                    inset 2px 2px 8px rgba(0,0,0,0.15);
    }

    #contact .box5 .email, #contact .box5 .contact-info {
        display: none;
    }
    

}

/* for smartphones and screens smaller than 1024px*/

@media screen and (max-width:1024px) {
    header .menu-list {
        display:none;
    }

    header .logo {
        margin-left:20px;
    }

    header .menu-btn {
        margin-right:20px;
    }

    main {
        width: 80%;
        height: auto;
        margin:70px auto;
    }

    main .box1 .h3-1, .h3-2 {
        color:#11113B;
        font-size:2rem;
    }

    main .box1 p {
        margin-top:50px;
        color:#11113B;
        line-height: 30px;
    }

    main .box1 h4 {
        margin-top:50px;
        text-align: center;
        font-size: 1.5rem;
    }

    main .box1 h4 a {
        text-decoration: none;
        border:2px solid #f0ffff;
        padding: 15px 60px;
        color: #11113B;
        box-shadow:  inset -2px -2px 8px rgba(255,255,255,1),
                     inset -2px -2px 12px rgba(255,255,255,0.5),
                     inset 2px 2px 4px rgba(255,255,255,0.1),
                     inset 2px 2px 8px rgba(0,0,0,0.15);
    }

    main .box1 .pic2 {
        margin: 10px auto;
        background-image: url("images/undraw_mindfulness_scgo-removebg-preview.png");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        width:300px;
        height:300px;
        overflow-x: hidden;
    }

    #about {
        width: 80%;
        height: 800px;
        margin:80px auto;
        background-color: #f2f3f7;
        border-radius: 30px;
        box-shadow: -3px -3px 5px rgba(192,192,192,0.4),
                 3px 3px 5px rgba(207,207,196);
    }

    #about h1 {
        text-align: center;
        color:#11113B;
        padding-top:30px;
    }

    #about  .pic-about2 {
        margin: 10px auto;
        background-image: url("images/undraw_meditating_0nae-removebg-preview.png");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        width:300px;
        height:300px;
        overflow-x: hidden;
    }

    #about .text-box {
        margin:10px auto;
        width:90%;
        height:100%;
    }


    #about p {
        line-height:30px;
        color:#11113B;
        text-align:center;
    }

    #contact .box5 {
        width: 80%;
        height: 500px;
        margin:80px auto;
        background-color: #f2f3f7;
        border-radius: 30px;
        box-shadow: -3px -3px 5px rgba(192,192,192,0.4),
                 3px 3px 5px rgba(207,207,196);
        display: flex; 
        flex-direction: column;
    }

    #contact .box5 .heading {
        margin-top:30px;
        text-align:center;
        font-size: 2rem;
        color:#11113B;
    }

    #contact .box5 .contact-info  {
        margin-top:30px;
        width: 100%;
        height:auto;
        display:flex;
        flex-direction: column;
        align-items:center;
    }

    #contact .box5 .contact-info h2 {
        font-size: 1.8rem;
        color: #11113B;
    }

    #contact .box5 .email {
        display:flex;
        flex-direction: column;
        width:200px;
        height:auto;
        margin:70px auto;
    }

    #contact .box5 .email input {
        background:none;
        outline:none;
        border:0;
        border-bottom: 2px solid #11113B;
        color:#11113B;
        padding: 20px  30px;
        font-size:1.2rem;
        
        
    }

    #contact .box5 .email button {
        margin-top:50px;
        background:none;
        outline:none;
        border:0;
        padding:15px 30px;
        background-color: #11113B;
        color:#ffff;
        font-size:1.5rem;
        font-weight:700;
    }


    #contact .box6 input, #contact .box6 button, .box5 .h2 {
        display:none;
    }

}

/* for screens smaller than 320px */

@media screen and (max-width:320px) {
    main {
        width: 80%;
        height: auto;
        margin:70px auto;
    }

    main .box1 .pic2 {
        width: 100%;
    }

    #about {
        width: 90%;
    }

    #about .about-pic2 {
        width:100%;
    }
}
